@font-face {
    font-family: 'zilla_slabregular';
    src: url("assets/fonts/zillaslab-regular-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-regular-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabsemibold';
    src: url("assets/fonts/zillaslab-semibold-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-semibold-webfont.woff") format('woff'), url("assets/fonts/zillaslab-SemiBold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slablight';
    src: url("assets/fonts/zillaslab-light-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-light-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Light.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabsemibold_italic';
    src: url("assets/fonts/zillaslab-semibolditalic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-semibolditalic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-SemiBoldItalic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tenso_boldregular';
    src: url("assets/fonts/tensobold-webfont.woff2") format('woff2'), url("assets/fonts/tensobold-webfont.woff") format('woff'), url("assets/fonts/tensobold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tenso_regularregular';
    src: url("assets/fonts/tensoreg-webfont.woff2") format('woff2'), url("assets/fonts/tensoreg-webfont.woff") format('woff'), url("assets/fonts/tensoreg.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabbold';
    src: url("assets/fonts/zillaslab-bold-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-bold-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Bold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabbold_italic';
    src: url("assets/fonts/zillaslab-bolditalic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-bolditalic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-BoldItalic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabitalic';
    src: url("assets/fonts/zillaslab-italic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-italic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Italic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slablight_italic';
    src: url("assets/fonts/zillaslab-lightitalic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-lightitalic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-LightItalic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabmedium';
    src: url("assets/fonts/zillaslab-medium-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-medium-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Medium.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabmedium_italic';
    src: url("assets/fonts/zillaslab-mediumitalic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-mediumitalic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-MediumItalic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

$licht-paars: #d8cedb;
$grijs: #e6e6e6;
$licht-grijs: #f2f2f2;
$geel: #faff2e;
$rood: #f65645;
$licht-blauw: #1beaae;
$paars: #6b38e8;
$text-color: #1d2939;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'zilla_slabregular', arial;
}

body {
    background: $licht-grijs;
}

h1 {
    font-family: 'zilla_slabbold';
    color: $text-color;
    background-color: $grijs;
}

h2 {
    color: $licht-blauw
}


header {
    background-color: $grijs;
    display: flex;
    height: 55px;

    .logo {
        background-color: $licht-paars;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        font-size: 30px;
    }

    .right-header {
        display: flex;
        background: $text-color;
        width: 90%;
        font-size: 22px;
        align-items: center;
        padding-left: 75px;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            height: 55px;
            width: 55px;
            left: 0;
            top: 0;
            border-style: solid;
            border-width: 55px 0 0 55px;
            border-color: transparent transparent transparent $licht-blauw;
        }
    }
}




svg {
    display: block;
    margin: 0 auto;
}

.tick line {
    opacity: 0.1;
}

.tick {}

circle {
    cursor: pointer;
    opacity: 1;

    &.bg-one {
        fill: $geel;
    }

    &.bg-two {
        fill: $rood;
    }

    &.bg-three {
        fill: $licht-blauw;
    }

    &.bg-four {
        fill: $paars;
    }

    &.bg-five {
        fill: lightblue;
    }

    &.bg-six {
        fill: rgb(253, 191, 111);
    }

    &.bg-seven {
        fill: rgb(177, 89, 40);
    }
}


.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 rgba(0, 0, 0, .5);
    color: white;
    text-transform: capitalize;
    padding: 14px;
    text-align: left;
    pointer-events: none;
    max-width: 300px;

    h3 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.5em
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h4 {
        margin-bottom: 10px;
        font-size: 1.3em;
        font-family: 'zilla_slabsemibold';
    }

    span {
        font-family: 'zilla_slabsemibold';
        margin-right: 10px;
    }
}

#app {
    position: relative;
}

.circle {
    transition: ease stroke .5s, ease opacity .5s;
}

.select-overlay {
    width: 1100px;
    height: 500px;
    position: absolute;
    left: 1px;
    right: 1px;
    margin: 0 auto;
    pointer-events: none;
    top: 0;
}

.slider-container {
    text-align: center;
    pointer-events: all;

}

.xMenu {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: all;
    font-size: 1.2em;
}

.yMenu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    left: -60px;
    pointer-events: all;
    font-size: 1.2em;
}


.legenda {
    position: absolute;
    right: -105px;
    transform: scale(.7) translateY(-50%);
    top: 45%;

    h5 {
        font-size: 1.6em;
    }

    span {
        width: 25px;
        height: 25px;
        border-radius: 20px;
        display: inline-block;

        &.geestelijk {
            background: $geel;
        }

        &.gehandicapten {
            background: $rood;
        }

        &.thuiszorg {
            background: $licht-blauw;
        }
    }
}

.saved-list {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;



    h2 {
        margin-top: 20px;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    h3 {
        color: $licht-blauw;
        margin-bottom: 20px;
        font-size: 25px;
        font-family: 'zilla_slabbold';
        height: 60px;
        width: 95%;
        overflow-y: hidden;

        &:first-of-type {
            margin-top: 10px;
        }
    }

    h4 {
        border-top: 1px solid $licht-blauw;
        margin-top: 40px;
        color: $licht-blauw;
        padding-top: 10px;
        margin-bottom: 20px;
        font-family: 'zilla_slabsemibold';
        font-size: 20px;
    }

    li {
        width: 45%;
        border-bottom: 2px solid black;
        margin-bottom: 1em;
        background: $text-color;
        border-radius: 20px;
        padding: 5px 20px 20px;
        color: white;
        position: relative;
    }

    .remove-list {
        position: absolute;
        right: 5px;
        top: 5px;
        display: block;
        height: 40px;
        width: 40px;
        background: url("assets/images/close.svg");
        background-position:center;
        background-repeat: no-repeat;
        cursor: pointer
    }
}

input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    margin: 0 auto;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.41875em;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #1BEAAE;
    border-radius: 1.5625em;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 2.1px 2.1px 4.5px rgba(0, 0, 0, 0.46), 0px 0px 2.1px rgba(13, 13, 13, 0.46);
    border: 2.7px solid #000000;
    height: 1.4375em;
    width: 1.4375em;
    border-radius: .75em;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.584375em;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1BEAAE;
}
input[type=range]::-moz-range-track {
    width: 90%;
    height: 0.41875em;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #1BEAAE;
    border-radius: 1.5625em;
    border: 1.2px solid rgba(0, 0, 0, 0.25);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 2.1px 2.1px 4.5px rgba(0, 0, 0, 0.46), 0px 0px 2.1px rgba(13, 13, 13, 0.46);
    border: 2.7px solid #1BEAAE;
    height: 1.4375em;
    width: 1.4375em;
    border-radius: .75em;
    background: #982682;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 90%;
    height: 0.41875em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #808080;
    border: 1.2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #1BEAAE;
    border: 1.2px solid rgba(0, 0, 0, 0.25);
    border-radius: 3.125em;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 2.1px 2.1px 4.5px rgba(0, 0, 0, 0.46), 0px 0px 2.1px rgba(13, 13, 13, 0.46);
    border: 2.7px solid #1BEAAE;
    height: 1.4375em;
    width: 1.4375em;
    border-radius: 12px;
    background: #982682;
    cursor: pointer;
    height: 0.41875em;
}
input[type=range]:focus::-ms-fill-lower {
    background: #1BEAAE;
}
input[type=range]:focus::-ms-fill-upper {
    background: #1BEAAE;
}
.group-input {
    display: flex;
    width: 400px;
    margin: 0 auto;
}
input {
    background-color: transparent;
}
