@font-face {
    font-family: 'zilla_slabregular';
    src: url("assets/fonts/zillaslab-regular-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-regular-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabsemibold';
    src: url("assets/fonts/zillaslab-semibold-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-semibold-webfont.woff") format('woff'), url("assets/fonts/zillaslab-SemiBold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slablight';
    src: url("assets/fonts/zillaslab-light-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-light-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Light.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabsemibold_italic';
    src: url("assets/fonts/zillaslab-semibolditalic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-semibolditalic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-SemiBoldItalic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tenso_boldregular';
    src: url("assets/fonts/tensobold-webfont.woff2") format('woff2'), url("assets/fonts/tensobold-webfont.woff") format('woff'), url("assets/fonts/tensobold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tenso_regularregular';
    src: url("assets/fonts/tensoreg-webfont.woff2") format('woff2'), url("assets/fonts/tensoreg-webfont.woff") format('woff'), url("assets/fonts/tensoreg.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabbold';
    src: url("assets/fonts/zillaslab-bold-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-bold-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Bold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabbold_italic';
    src: url("assets/fonts/zillaslab-bolditalic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-bolditalic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-BoldItalic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabitalic';
    src: url("assets/fonts/zillaslab-italic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-italic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Italic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slablight_italic';
    src: url("assets/fonts/zillaslab-lightitalic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-lightitalic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-LightItalic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabmedium';
    src: url("assets/fonts/zillaslab-medium-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-medium-webfont.woff") format('woff'), url("assets/fonts/zillaslab-Medium.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zilla_slabmedium_italic';
    src: url("assets/fonts/zillaslab-mediumitalic-webfont.woff2") format('woff2'), url("assets/fonts/zillaslab-mediumitalic-webfont.woff") format('woff'), url("assets/fonts/zillaslab-MediumItalic.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

$licht-paars: #d8cedb;
$grijs: #e6e6e6;
$licht-grijs: #f2f2f2;
$geel: #faff2e;
$rood: #f65645;
$licht-blauw: #1beaae;
$paars: #6b38e8;
$text-color: #1d2939;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'zilla_slabregular', arial;
}

body {
    background: $licht-grijs;
}

h1 {
    font-family: 'zilla_slabbold';
    color: $text-color;
    background-color: $grijs;
}

h2 {
    color: $licht-blauw
}


header {
    background-color: $grijs;
    display: flex;
    height: 55px;

    .logo {
        background-color: $licht-paars;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        font-size: 30px;
    }

    .right-header {
        display: flex;
        background: $text-color;
        width: 90%;
        font-size: 22px;
        align-items: center;
        padding-left: 75px;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            height: 55px;
            width: 55px;
            left: 0;
            top: 0;
            border-style: solid;
            border-width: 55px 0 0 55px;
            border-color: transparent transparent transparent $licht-blauw;
        }
    }
}




svg {
    display: block;
    margin: 0 auto;
}

.tick line {
    opacity: 0.3;
}

circle {
    opacity: 1;

    &.bg-one {
        fill: $geel;
    }

    &.bg-two {
        fill: $rood;
    }

    &.bg-three {
        fill: $licht-blauw;
    }

    &.bg-four {
        fill: $paars;
    }

    &.bg-five {
        fill: lightblue;
    }

    &.bg-six {
        fill: lightgreen;
    }

    &.bg-seven {
        fill: lightpink;
    }
}


.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 rgba(0, 0, 0, .5);
    color: white;
    text-transform: capitalize;
    padding: 14px;
    text-align: left;
    pointer-events: none;
    max-width: 300px;

    h3 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.5em
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h4 {
        margin-bottom: 10px;
        font-size: 1.3em;
        font-family: 'zilla_slabsemibold';
    }

    span {
        font-family: 'zilla_slabsemibold';
        margin-right: 10px;
    }
}

#app {
    position: relative;
}

.circle {
    transition: ease stroke .5s, ease opacity .5s;
}

.select-overlay {
    width: 1100px;
    height: 500px;
    position: absolute;
    left: 1px;
    right: 1px;
    margin: 0 auto;
    pointer-events: none;
    top: 0;
}


.xMenu {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: all;
    font-size: 1.2em;
}

.yMenu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    left: -60px;
    pointer-events: all;
    font-size: 1.2em;
}


.legenda {
    position: absolute;
    right: -105px;
    transform: scale(.7) translateY(-50%);
    top: 45%;

    h5 {
        font-size: 1.6em;
    }

    span {
        width: 25px;
        height: 25px;
        border-radius: 20px;
        display: inline-block;

        &.geestelijk {
            background: $geel;
        }

        &.gehandicapten {
            background: $rood;
        }

        &.thuiszorg {
            background: $licht-blauw;
        }
    }
}